---
header: header--white
title: cursussen | ziris
---

<section class="courses">
    <div class="container container--m">
        <h1 class="mb-4 mb-6@m v-hidden js-scroll js-split-text" data-stag="0.02">
            <span class="courses__title">aanbod</span>
            <span class="courses__subtitle">cursussen, workshops, lessen en excursies</span>
        </h1>
    </div>
    <div class="courses__container a a-fi">
        <div class="container container--m">
            {% assign category = site.posts | where: 'category', 'volwassenen' %}
            {% if category.size > 0 %}
            {% include courses__category.html category='volwassenen' %}
            {% endif %}

            {% assign category = site.posts | where: 'category', 'jongeren' %}
            {% if category.size > 0 %}
            {% include courses__category.html category='jongeren' %}
            {% endif %}

            {% assign category = site.posts | where: 'category', 'kinderen' %}
            {% if category.size > 0 %}
            {% include courses__category.html category='kinderen' %}
            {% endif %}
        </div>
    </div>
</section>