---
header: header--white
---

<section class="courses">
    <div class="container container--small">
        <h1 class="courses__title">cursussen</h1>
    </div>
    <div class="courses__container">
        <div class="container container--small">
            <section class="courses__category">
                <h2 class="courses__category-title">volwassenen</h2>
                <div class="courses__grid">
                    {% assign category = site.posts | where: 'category', 'volwassenen' %}
                    {% for entry in category %}
                    {% include tile.html %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</section>