---
header: header--white
title: cursussen | ziris
---

<section class="courses">
    <div class="container container--small">
        <h1 class="courses__title">cursussen</h1>
    </div>
    <div class="courses__container">
        <div class="container container--small">
            {% assign category = site.posts | where: 'category', 'volwassenen' %}
            {% if category.size > 0 %}
            {% include course.html category='volwassenen' %}
            {% endif %}

            {% assign category = site.posts | where: 'category', 'jongeren' %}
            {% if category.size > 0 %}
            {% include course.html category='jongeren' %}
            {% endif %}

            {% assign category = site.posts | where: 'category', 'kinderen' %}
            {% if category.size > 0 %}
            {% include course.html category='kinderen' %}
            {% endif %}
        </div>
    </div>
</section>