---
layout: default
header: header--white
title: inschrijven | ziris
---

<section class="signup">
    <div class="container container--s">

        <h1 class="signup__header">
            <div class="cta__label a a-fi">schrijf je in voor:</div>
            <div class="cta__title a a-fi a-del-150 js-get-data" id="course-title">cursus</div>
        </h1>

        {% include meta-table.html %}

        <form id="form" class="a a-fi a-del-300" name="Inschrijvingen" action="/bedankt" novalidate netlify>
            <fieldset class="signup__fieldset">
                {% include formfield.html class='js-set-data' id='name' label='naam' type='text' required='required' %}
                {% include formfield.html class='js-set-data' id='phone' label='telefoonnummer' type='tel' minlength='10' required='required' %}
                {% include formfield.html class='js-set-data' id='email' label='e-mailadres' type='email' required='required' %}
                {% include formfield.html class='js-set-data' id='participants' label='aantal deelnemers' type='number' value=1 %}
            </fieldset>
            <fieldset class="signup__fieldset dn">
                {% include formfield.html class='js-get-data' id='course-title' label='cursus' type='hidden' %}
                {% include formfield.html class='js-get-data' id='course-amount' label='aantal' type='hidden' %}
                {% include formfield.html class='js-get-data' id='course-price' label='prijs' type='hidden' %}
                {% include formfield.html class='js-get-data' id='course-start' label='start' type='hidden' %}
                {% include formfield.html class='js-get-data' id='course-time' label='tijdstip' type='hidden' %}
                {% include formfield.html class='js-get-data' id='course-location' label='locatie' type='hidden' %}
            </fieldset>
            <button class="button button--l" type="submit">inschrijving verzenden</button>
        </form>

    </div>
</section>