<section class="cta js-scroll tr-stag js-tr">
    <div class="container container--s">
        <header>
            <label class="cta__label tr-stag js-tr">schrijf je in voor:</label>
            <h3 class="cta__title tr-stag js-tr">{{ page.title }}</h3>
            <p class="cta__description tr-stag js-tr">
                {{ site.data.convince.text }}
            </p>
            <div class="mt-6 tr-stag js-tr">
                <a href="/inschrijven" class="button button--l">
                    ja ik wil inschrijven
                </a>
            </div>
        </header>
    </div>
</section>