<section class="cta">
    <div class="container container--s">
        <header class="cta__header">
            <label class="cta__label">schrijf je in voor:</label>
            <h3 class="cta__title">{{ page.title }}</h3>
            <p class="cta__description">
                de inschrijving is vrijblijvend en je kan altijd weer annuleren
            </p>
        </header>
        <a href="/inschrijven" class="button button--l js-cta" course="{{ page.title }}">
            ja ik wil inschrijven
        </a>
    </div>
</section>