<section class="cta">
    <div class="container container--small">
        <header class="cta__header">
            <label class="cta__label">schrijf je in voor:</label>
            <h3 class="cta__title">{{ page.title }}</h3>
            <p class="cta__description">
                de inschrijving is vrijblijvend en je kan altijd weer annuleren
            </p>
            <a href="/inschrijven" class="button button--l js-cta" course="{{ page.title }}">
                inschrijven
            </a>
        </header>
    </div>
</section>