<div class="signup__formfield js-formfield">
    <label class="signup__label" for="{{ include.id }}">
        {{ include.label }}
    </label>
    <input class="signup__input {{ include.class }}" 
        id="{{ include.id }}" placeholder="{{ include.label }}" type="{{ include.type }}"
        name="{{ include.id }}" {{ include.required }}
        {% if include.minlength %}minlength="{{ include.minlength }}"{% endif %}
        {% if include.value %}value="{{ include.value }}"{% endif %} >
</div>