<header class="header {{ page.header }} a a-fi-down a-del-150">
    <div class="container header__container">
        <a href="/" aria-label="Logo Ziris">
            <div class="header__logo">
                {% include svg/logo.svg %}
            </div>
        </a>
        <nav class="header__nav">
            <a href="/galerie" aria-label="galerie">
                <span class="header__item header__item--link hidden-xs">galerie</span>
            </a>

            <a href="/cursussen" aria-label="cursussen">
                <span class="header__item button button--header">cursussen</span>
            </a>

            <a href="/over-ziris" aria-label="over ziris">
                <span class="header__item header__item--link hidden-xs">over ziris</span>
            </a>

            <a href="/contact" aria-label="contact">
                <span class="header__item header__item--link hidden-xs">contact</span>
            </a>

            <button class="header__item header__item--icon visible-xs">
                <div class="hamburger js-nav-toggle">
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                </div>
            </button>
        </nav>
    </div>
    <div class="header-mobile js-nav">
        <nav>
            <a href="/galerie" aria-label="galerie" class="header-mobile__item js-nav-item">galerie</a>
            <a href="/cursussen" aria-label="cursussen" class="header-mobile__item js-nav-item">cursussen</a>
            <a href="/over-ziris" aria-label="over ziris" class="header-mobile__item js-nav-item">over ziris</a>
            <a href="/contact" aria-label="contact" class="header-mobile__item js-nav-item">contact</a>
        </nav>
    </div>
</header>