<div class="mt-3 mb-4 pv-2 ph-3 dib bg-grey-9 br-edge a a-fi a-del-200">
    <table>
        <tbody>
            <tr>
                <td class="f-grey-3"><span class="no-wrap">soort les:</span> </td>
                <td class='pl-4 js-get-data' id='course-type'></td>
            </tr>
            <tr>
                <td class="f-grey-3">aantal: </td>
                <td class='pl-4 js-get-data' id='course-amount'></td>
            </tr>
            <tr>
                <td class="f-grey-3">prijs: </td>
                <td class='pl-4 js-get-data' id='course-price'></td>
            </tr>
            <tr>
                <td class="f-grey-3">aanvang: </td>
                <td class='pl-4 js-get-data' id='course-start'></td>
            </tr>
            <tr>
                <td class="f-grey-3">tijdstip: </td>
                <td class='pl-4 js-get-data' id='course-time'></td>
            </tr>
            <tr>
                <td class="f-grey-3">locatie: </td>
                <td class='pl-4 js-get-data' id='course-location'></td>
            </tr>
        </tbody>
    </table>
</div>