<div class="meta js-meta js-scroll">
    <div class="container container--m">
        <div class="meta__container tr-stag js-tr">
            {% include meta__row.html label='soort les' entry='type' %}
            {% include meta__row.html label='aantal' entry='amount' %}
            {% include meta__row.html label='prijs' entry='price' %}
            {% include meta__row.html label='inclusief' entry='inc' %}
            {% include meta__row.html label='aanvang' entry='start' %}
            {% include meta__row.html label='tijdstip' entry='time' %}
            {% include meta__row.html label='locatie' entry='location' %}
        </div>
    </div>
</div>