<section class="meta js-scroll-magic">
    <div class="container container--m">
        <div class="meta__container tr-stag js-tr">
            {% include meta__row.html label='aantal' entry='amount' %}
            {% include meta__row.html label='prijs' entry='price' %}
            {% if page.inc %}
                {% include meta__row.html label='inclusief' entry='inc' %}
            {% endif %}
            {% include meta__row.html label='start' entry='start' %}
            {% include meta__row.html label='tijdstip' entry='time' %}
            {% include meta__row.html label='locatie' entry='location' %}
        </div>
    </div>
</section>