// main navigation
// --------------------------------------------------
.header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
}

.header__logo {
    position: relative;
    top: -1px;

    svg {
        height: 28px;
        fill: $light;
    }

    @include sm {
        svg {
            height: 28px;
        }
    }
}

.header__nav {
    position: relative;
    top: -1px;
}

.header__item {
    color: $light;
    margin-left: toRem(20px);
    font-size: toRem(16px);
    letter-spacing: 0.2px;
    cursor: pointer;

    @include sm {
        margin-left: toRem($gutter);
    }

    @include lg {
        color: $brand;
    }

    svg {
        fill: $light;
    }
}

.header--white {
    .header__logo {
        svg {
            fill: $brand;
        }
    }

    .header__item {
        color: $brand;

        svg {
            fill: $brand;
        }
    }

    .button--header {
        border: 1px solid $brand;
        color: $brand;

        &:hover {
            background-color: $brand;
            color: $light;
        }

        @media (max-width: 359px) {    
            &:hover {
                background-color: transparent;
                color: $brand;
            }
        }
    }
}

.header--brand {
    .header__logo {
        svg {
            fill: $light;
        }
    }

    .header__item {
        color: $light;

        svg {
            fill: $light;
        }
    }

    .button--header {
        border: 1px solid $light;
        color: $light;

        &:hover {
            background-color: $light;
            color: $brand;
        }

        @media (max-width: 359px) {    
            &:hover {
                background-color: transparent;
                color: $light;
            }
        }
    }
}