// social proofing section
// --------------------------------------------------
.proof {
    background-color: $light;
    padding: space(8) 0;

    @include respond-min($l) {
        padding: 100px 0;
    }
}

.proof__grid {
    display: grid;

    @include respond-min($m) {
        grid-gap: $gutter;
    }

    @include respond-min($l) {
        grid-template-columns: max-content 1fr;
    }

    @include respond-min($xxl) {
        grid-gap: space(8);
    }
}