// art section
// --------------------------------------------------
.art {
    background-color: $light;
    color: $brand;
    padding: $double-gutter 0;

    @include md {
        padding: 100px 0;
    }
}

.art__grid {
    display: grid;
    grid-column-gap: 80px;
    grid-row-gap: $double-gutter;
    align-items: center;

    @include md {
        grid-template-columns: 3fr 4fr;
    }
}

.art__img {
    object-fit: cover;
    width: 100%;
    height: 64vw;

    @include md {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
}