.img-loader {
    position: relative;
}

    .img-loader__item {
        width: 100%;
        height: auto;

        &.is-hidden {
            display: none;
        }
    }

    .img-loader__item--dev {
        background-color: $grey-8;
        height: 80vh;
    }