// course detail page - setup as post
// --------------------------------------------------
.post {
    padding: 100px 0 40px;

    @include sm {
        padding: 128px 0 72px;
    }

    @include md {
        padding-bottom: $double-gutter;
    }
}

.post__header {
    max-width: 800px;
    margin: 0 auto;
}

.post__title {
    margin-bottom: $gutter;
    @include font(40px, 900, $lh-title);
    color: $brand;

    @include sm {
        font-size: calculate-rem(60px);
    }

    @include md {
        font-size: calculate-rem(90px);
        letter-spacing: calculate-rem(-1.5px);
    }
}

.post__content {
    max-width: 800px;
    margin: 0 auto $gutter;

    @include sm {
        margin-bottom: 60px;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        margin-bottom: $gutter;

        @include sm {
            margin-bottom: $one-half-gutter;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        @include font(24px, 500, $lh-copy);
        color: $brand;

        @include sm {
            font-size: calculate-rem(28px);
        }
    }

    ul {
        @include font(16px, 500, $lh-copy);
        color: $brand;

        @include sm {
            font-size: calculate-rem(18px);
        }
    }

    li {
        margin-bottom: 8px;

        @include sm {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        @include font(20px, 500, $lh-copy);
        font-family: $serif;
        color: $grey-3;

        @include sm {
            font-size: calculate-rem(22px);
        }
    }
}

.post__img {
    object-fit: cover;
    width: 100%;
    height: calc(160px + 40vw);
}


// post cta
// ----------------------------
.post-cta {
    padding: $double-gutter 0 64px;
    color: $brand;

    @include md {
        padding: 128px 0 148px;
    }
}

.post-cta__header {
    max-width: 720px;
    margin: 0 auto;
}

.post-cta__label {
    @include font(24px, 500, $lh-title);

    @include md {
        font-size: calculate-rem(32px);
    }
}

.post-cta__title {
    margin-bottom: $quarter-gutter;
    @include font(36px, 900, $lh-title);

    @include sm {
        font-size: calculate-rem(48px);
    }

    @include md {
        font-size: calculate-rem(60px);
    }
}

.post-cta__description {
    margin-bottom: $double-gutter;
    @include font(18px, 500, $lh-title);

    @include md {
        font-size: calculate-rem(20px);
    }
}