// section headers
// --------------------------------------------------
.section-header {
    max-width: 900px;
}

.section-header__title {
    margin-bottom: $gutter;
    @include font(36px, 900, $lh-title);

    @include sm {
        font-size: calculate-rem(60px);
    }
}

.section-header__title--small {
    font-size: calculate-rem(32px);

    @include sm {
        font-size: calculate-rem(40px);
    }
}

.section-header__title--small-sm {
    @include sm-ex {
        font-size: calculate-rem(40px);
    }
}

.section-header__description {
    max-width: 440px;
    font-family: $serif;
    @include font(24px, 400, $lh-title);

    @include sm {
        font-size: calculate-rem(32px);
    }
}