// discover scroll indicator
// --------------------------------------------------
.discover {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 28%;
    text-align: center;
    @include font(16px, 900, $lh-title);
    font-style: italic;
    color: $light;
    cursor: pointer;

    @include lg {
        display: block;
    }
}

.discover__txt {
    margin-bottom: 4px;
}

.discover__line {
    width: 1px;
    height: 80px;
    background-color: $light;
    margin: 0 auto;
}