// courses
// --------------------------------------------------
.courses {
    padding-top: $section-padding-s - 6;
}

.courses__title {
    @include font(60px, 900, $lh-title);

    @media (max-width: 359px) {
        font-size: toRem(56px);
    }

    @include respond-min($m) {
        font-size: toRem(90px);
    }

    @include respond-min($l) {
        font-size: toRem(120px);
    }
}

.courses__container {
    border-top: 1px solid $grey-8;
    background-color: $grey-9;
    padding: space(8) 0 0;

    @include respond-min($m) {
        padding: space(12) 0 0;
    }
}

.courses__category {
    padding-bottom: space(8);

    @include respond-min($m) {
        padding-bottom: space(12);
    }
}

.courses__category-title {
    margin-bottom: 20px;
    @include font(14px, 600, $lh-title);
    color: $grey-5;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include respond-min($m) {
        margin-bottom: $gutter;
        font-size: toRem(18px);
    }
}

.courses__grid {
    display: grid;
    gap: $gutter;

    @include respond-min($m) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-min($l) {
        gap: 32px;
    }

    @include respond-min($xxl) {
        grid-template-columns: repeat(3, 1fr);
    }
}