.cta {
    padding: $double-gutter 0;
    color: $light;
    background-color: $brand;

    @include md {
        padding: 128px 0;
    }
}

.cta__label {
    @include font(24px, 500, $lh-title);

    @include md {
        font-size: calculate-rem(32px);
    }
}

.cta__title {
    @include font(36px, 900, $lh-title);
    margin-bottom: 4px;

    @include sm {
        font-size: calculate-rem(48px);
    }

    @include md {
        font-size: calculate-rem(60px);
    }
}

.cta__description {
    @include font(18px, 500, $lh-copy);

    @include md {
        font-size: calculate-rem(20px);
    }
}