// tile
// --------------------------------------------------
.tile {
    border-radius: 2px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.tile__img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 2px 2px 0 0;

    @include md {
        height: 240px;
    }
}

.tile__header {
    padding: 18px $gutter $gutter;
}

.tile__txt {
    padding: 0 $gutter $gutter;
}

.tile__title {
    @include font(28px, 900, $lh-title);

    @include md {
        font-size: calculate-rem(36px);
    }
}

.tile__amount {
    margin-bottom: 8px;
    @include font(12px, 700, $lh-title);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tile__description {
    //margin-bottom: $gutter;
    font-family: serif;
    @include font(16px, normal, $lh-copy);
    color: $grey-2;

    @include md {
        font-size: calculate-rem(18px);
    }
}

.tile__time {
    align-self: end;
    @include font(16px, 900, $lh-title);
}

.tile__price {
    align-self: end;
    @include font(32px, 500, $lh-title);

    @include md {
        font-size: calculate-rem(40px);
    }
}