// main navigation
// --------------------------------------------------
.header {
    position: absolute;
    width: 100%;
    z-index: 999;

    &.is-active {
        position: fixed;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
}

.header__logo {
    position: relative;
    top: -1px;

    svg {
        height: 28px;
        fill: $light;
    }

    @include sm {
        svg {
            height: 28px;
        }
    }
}

.header__nav {
    position: relative;
    top: -1px;
}

.header__item {
    display: inline-block;
    color: $light;
    margin-left: toRem(20px);
    font-size: toRem(16px);
    letter-spacing: 0.2px;
    cursor: pointer;

    @include sm {
        margin-left: toRem($gutter);
    }

    @include lg {
        color: $brand;
    }

    svg {
        fill: $light;
    }
}

.header__item--link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        bottom: -10px;
        left: calc(50% - 2px);
        background-color: $light;
        border-radius: 50%;
        opacity: 0;
        transition: $fade-link;

        @include lg {
            background-color: $brand;
        }
    }

    &:hover:after {
        opacity: 1;
    }
}

.header__item--icon {
    @include center(inline-flex);
    position: relative;
    top: 1px;
    width: 40px;
    height: 40px;
    margin: 0 -10px 0 10px;
}




// modifiers
// --------------------------------------------
.header--white {
    .header__logo {
        svg {
            fill: $brand;
        }
    }

    .header__item {
        color: $brand;

        svg {
            fill: $brand;
        }
    }

    .header__item--link:after {
        background-color: $brand;
    }

    .header-mobile {
        background-color: $light;
        color: $brand;
    }

    .hamburger__line {
        background-color: $brand;
    }

    .button--header {
        border: 1px solid $brand;
        color: $brand;

        &:hover {
            background-color: $brand;
            color: $light;
        }

        @media (max-width: 359px) {    
            &:hover {
                background-color: transparent;
                color: $brand;
            }
        }
    }
}

.header--brand {
    .header__logo {
        svg {
            fill: $light;
        }
    }

    .header__item {
        color: $light;

        svg {
            fill: $light;
        }
    }

    .header__item--link:after {
        background-color: $light;
    }

    .header-mobile {
        background-color: $brand;
        color: $light;
    }

    .hamburger__line {
        background-color: $light;
    }

    .button--header {
        border: 1px solid $light;
        color: $light;

        &:hover {
            background-color: $light;
            color: $brand;
        }

        @media (max-width: 359px) {    
            &:hover {
                background-color: transparent;
                color: $light;
            }
        }
    }
}



// mobile
// ----------------------------------------------------
.header-mobile {
    display: none;
    @include full(fixed);
    justify-content: center;
    background-color: $brand;
    color: $light;
    z-index: -1;
    text-align: center;
    padding-top: 120px;
    transform-origin: 0 0;
    transform: scaleY(0);
}

.header-mobile__item {
    display: block;
    padding: 12px 0;
    @include font(36px, 700, $lh-copy);
    transition: initial;
}