$meta__row-border: 1px solid rgba($brand, 0.35);

.meta {
    position: relative;
    padding: $gutter 0 space(8);
    font-size: toRem(18px);
    border-bottom: 1px solid rgba($light, 0.15);

    @include respond-min($m) {
        padding: space(8) 0;
        font-size: toRem(24px);
    }

    @include respond-min($xxl) { 
        padding: space(12) 0;  
        font-size: toRem(32px);
    }
}

.meta__container {
    max-width: 1050px;
    margin: 0 auto;
    border-left: $meta__row-border;
    border-right: $meta__row-border;
}

.meta__row {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: $gutter;
    margin-bottom: 20px;
    padding: 0 $gutter $gutter;
    border-bottom: $meta__row-border;

    &:first-child {
        padding-top: 20px;
        border-top: $meta__row-border;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include respond-min($sm) {
        grid-template-columns: 110px 1fr;
    }

    @include respond-min($m) {
        grid-template-columns: 164px 1fr;
        gap: space(8);
    }

    @include respond-min($l) {
        grid-template-columns: 200px 1fr;
    }
}

.meta__data-label {
    text-align: right;
    font-weight: 500;
}

.meta__data-entry {
    font-weight: 900;
}