// buttons
// --------------------------------------------------
.button {
    display: inline-block;
    border-radius: 2px;
    padding: 9px 12px 12px;
    transition: $fade-link;
    cursor: pointer;

    background-color: $cta;
    color: $light;

    &:hover {
        background-color: $cta-dark;
    }
}

.button--l {
    padding: 15px 25px 20px;
    @include font(20px, 700, $lh-title);
}

.button--white {
    background-color: $light;
    color: $brand;
}

.button--header {
    border: 1px solid $light;
    background-color: transparent;
    color: $light;

    &:hover {
        background-color: $light;
        color: $brand;
    }

    @media (max-width: 359px) {
        border: none !important;
        padding: 9px 0 12px;

        &:hover {
            background-color: transparent;
            color: $light;
        }
    }

    @include lg {
        border: 1px solid $brand;
        color: $brand;

        &:hover {
            background-color: $brand;
            color: $light;
        }
    }
}