// discover scroll indicator
// --------------------------------------------------
.discover {
    display: none;
    position: absolute;
    width: 140px;
    z-index: 1;
    bottom: 0;
    left: calc(27% + 16px);
    text-align: center;
    @include font(16px, 900, $lh-title);
    font-style: italic;
    color: $light;
    cursor: pointer;

    @include lg {
        display: block;
    }

    &:hover {
        .discover__txt {
            letter-spacing: 3px;
        }
    }
}

.discover__txt {
    margin-bottom: 4px;
    transition: all 700ms $ease-out;
}

.discover__line {
    margin: 0 auto;
    width: 1px;
    height: 80px;
    background-color: $light;
}