// footer
// --------------------------------------------------
.footer {
    padding: $gutter 0;
    background-color: $brand;
    color: $light;
    @include font(14px, 500, $lh-solid);

    @include respond-min($m) {
        text-align: center;
    }
}