.about {
    @extend .section;
}

.about__container {
    @extend .container--s;
}

.about__header {
    @extend .post__header;
}

.about__title {
    @extend .post__title;
}

.about__content {
    margin-bottom: $gutter;

    @include sm {
        margin-bottom: 60px;
    }

    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        margin-bottom: $gutter;

        @include sm {
            margin-bottom: $one-half-gutter;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        margin: $double-gutter 0 $half-gutter;
        @include font(28px, 600, $lh-copy);

        @include sm {
            margin: $triple-gutter 0 $half-gutter;
            font-size: calculate-rem(48px);
        }
    }

    h3 {
        margin: $double-gutter 0 $half-gutter;
        @include font(20px, 900, $lh-copy);
    }

    h4 {
        margin: $double-gutter 0 $half-gutter;
        @include font(18px, 700, $lh-copy);
    }

    ul, ol {
        @include font(16px, 500, $lh-copy);

        @include sm {
            font-size: calculate-rem(18px);
        }
    }

    ul {
        padding-left: 18px;
        list-style-type: disc;
    }

    ol {
        padding-left: 28px;

        @include sm {
            padding-left: 32px;
        }
    }

    li {
        margin-bottom: 8px;

        @include sm {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        @include font(20px, 500, $lh-copy);
        font-family: $serif;
        color: $grey-3;

        @include sm {
            font-size: calculate-rem(22px);
        }
    }

    img {
        margin-left: -$gutter;

        @include sm {
            margin-left: -$triple-gutter;
        }

        @include md {
            margin-left: -128px;
        }
    }
}