// intro
// --------------------------------------------------
.intro {
    position: relative;
    color: $light;
    background-color: $brand;
    padding-bottom: space(2);

    @include respond-min($m) {
        padding-bottom: $gutter;
    }

    @include respond-min($xl) {
        @include center(flex);
        position: relative;
        height: 100vh;
    }

    @include respond-min($xxl) {
        background-color: $light;
    }
}

.intro__bg {
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    background-color: $brand;

    @include respond-min($xxl) {
        width: 64%;
        height: 100%;
    }

    @include respond-min($xxxl) {
        width: 67%;
    }
}

.intro__container {
    position: relative;
    z-index: 1;
    padding-top: $section-padding-s;
    margin-bottom: space(8);

    @include respond-min($xl) {
        display: grid;
        grid-template-columns: 3fr 4fr;
        column-gap: 80px;
        align-items: center;
        margin: 12px auto 0; // margin top = correction for caption
        padding: 0 space(12);
    }
}

.intro__title {
    @include font(36px, 900, $lh-title);
    margin-bottom: space(4);

    @include respond-min($sm) {
        font-size: calc(3vw + 2rem);
    }

    @include respond-min($xl) {
        font-size: calc(3.5vw + 1rem);
    }
}

.intro__figure {
    width: 100%;

    @include respond-min($m) {
        height: calc(70vw + 100px);
    }

    @include respond-min($xl) {
        height: calc(40vh + 16vw);
        width: 90%;
    }
}

.intro__img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 24px);
}

.intro__figcaption {
    color: $light;

    @include respond-min($xl) {
        text-align: right;
    }

    @include respond-min($xxl) {
        color: $brand;
    }
}