// intro
// --------------------------------------------------
.intro {
    position: relative;
    color: $light;
    background-color: $brand;

    @include respond-min($xxl) {
        display: flex;
        position: relative;
        justify-content: space-between;
        height: 100vh;
        background-color: $light;
    }
}

.intro__bg {
    position: absolute;
    width: 100%;
    background-color: $brand;

    @include respond-min($xxl) {
        width: 64%;
        height: 100%;
    }

    @include respond-min($xxxl) {
        width: 67%;
    }
}

.intro__container {
    position: relative;
    z-index: 1;
    padding-top: $section-padding-s;
    margin-bottom: space(8);

    @include respond-min($xxl) {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding: 0 space(12);
    }
}

.intro__header {
    max-width: 700px;

    @include respond-min($xxl) {
        text-align: right;
    }
}

.intro__img-container {
    position: relative;
    @extend .container;
    padding-bottom: space(8);

    @include respond-min($l) {
        padding-bottom: 100px;
    }

    @include respond-min($xxl) {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 0;
    }
}

.intro__img {
    object-fit: cover;
    width: 100%;
    height: 75vw;

    @include respond-min($m) {
        width: auto;
        height: auto;
    }

    @include respond-min($xxl) {
        width: 100%;
        height: calc(50vh + 10vw);
    }
}

.intro__figcaption {
    color: $light;

    @include respond-min($xxl) {
        margin-right: $gutter;
        padding: 0 4px 0;
        color: $brand;
        text-align: right;
    }
}