// gallery
// --------------------------------------------------

$gallery-height: 70vh;

.gallery {
    @include full(fixed);
    @include center(flex);
}

.gallery__container {
    margin-top: $triple-gutter;
    height: $gallery-height;
    overflow-y: hidden;
}

.gallery__scroll-container {
    display: flex;
    height: calc(#{$gallery-height} + #{$gutter});
    padding-bottom: $gutter;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.gallery__tile {
    padding-left: $gutter;
    height: 100%;

    @include md {
        padding-left: $double-gutter;
    }

    &:last-child {
        padding-right: $gutter;

        @include md {
            padding-right: $double-gutter;
        }
    }
}

.gallery__img {
    margin-bottom: 4px;
    max-width: none;
    width: auto;
    height: calc(100% - 64px);
    object-fit: cover;
}