// member
// --------------------------------------------------
.member {
    display: grid;
    row-gap: space(2);
    column-gap: $gutter;
    margin-bottom: 64px;

    &:last-child {
        margin-bottom: 0;
    }

    @include respond-min($m) {
        margin-bottom: space(8);
        grid-template-columns: 2fr 3fr;
    }
}

.member__name {
    @include font(24px, 600, $lh-title);
    @include respond-min($m) {
        font-size: toRem(28px);
    }
}

.member__profession {
    margin-bottom: 24px;
    @include font(12px, 600, $lh-title);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $grey-5;
}

.member__quote {
    @include font(18px, normal, $lh-copy);
    font-family: $serif;

    @include respond-min($m) {
        font-size: toRem(22px);
    }

    @include respond-minMax($l, $xxl) {
        font-size: toRem(18px);
    }
}

.member__img {
    object-fit: cover;
    width: 100%;
    height: calc(100px + 50vw); 

    @include respond-min($m) {
        height: calc(64px + 42vw); 
    }

    @include respond-min($l) {
        object-fit: initial;
        width: 100%;
        height: auto;
    }
}