// course detail page - setup as post
// --------------------------------------------------
.post {
    padding-top: $section-padding-s;

    @include respond-min($m) {
        padding-top: $section-padding-l;
    }
}

.post__container {
    @extend .container--s;
}

.post__header {
    margin-bottom: $gutter;
}

.post__title {
    @include font(40px, 900, 1.1);

    @include respond-min($m) {
        font-size: toRem(60px);
    }

    @include respond-min($l) {
        font-size: toRem(90px);
        letter-spacing: toRem(-1.5px);
    }
}

.post__content {
    margin-bottom: $gutter;

    @include respond-min($m) {
        margin-bottom: 60px;
    }

    h2 {
        margin: 0 0 $gutter;
        @include font(24px, 500, $lh-copy);

        @include respond-min($m) {
            margin-bottom: space(6);
            font-size: toRem(28px);
        }
    }

    h3 {
        margin: space(8) 0 space(2);
        @include font(20px, 900, $lh-copy);
    }

    img {
        margin: 0;
    }
}

.post__img {
    position: relative;
    width: 100%;
    min-height: 50vw;
    width: 100%;

    &:before {
        content: '';
        @include full(absolute);
        z-index: -1;
        background-color: $grey-8;
    }
}