// section headers
// --------------------------------------------------
.section-header {
    max-width: 900px;
}

.section-header__title {
    margin-bottom: $gutter;
    @include font(36px, 900, $lh-title);

    @include respond-min($m) {
        font-size: toRem(60px);
    }
}

.section-header__title--small {
    font-size: toRem(32px);

    @include respond-min($m) {
        font-size: toRem(40px);
    }
}

.section-header__title--small-sm {
    @include respond-minMax($m, $xxl) {
        font-size: toRem(40px);
    }
}

.section-header__description {
    max-width: 440px;
    font-family: $serif;
    @include font(24px, 400, $lh-title);

    @include respond-min($m) {
        font-size: toRem(32px);
    }
}