// course detail page - setup as post
// --------------------------------------------------
.post {
    padding-top: 100px;

    @include sm {
        padding-top: 128px;
    }
}

.post__container {
    @extend .container--s;
}

.post__header {
    margin-bottom: $gutter;
}

.post__title {
    @include font(40px, 900, $lh-title);
    color: $brand;

    @include sm {
        font-size: calculate-rem(60px);
    }

    @include md {
        font-size: calculate-rem(90px);
        letter-spacing: calculate-rem(-1.5px);
    }
}

.post__content {
    margin-bottom: $gutter;

    @include sm {
        margin-bottom: 60px;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        margin-bottom: $gutter;

        @include sm {
            margin-bottom: $one-half-gutter;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        @include font(24px, 500, $lh-copy);
        color: $brand;

        @include sm {
            font-size: calculate-rem(28px);
        }
    }

    ul {
        @include font(16px, 500, $lh-copy);
        color: $brand;

        @include sm {
            font-size: calculate-rem(18px);
        }
    }

    li {
        margin-bottom: 8px;

        @include sm {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        @include font(20px, 500, $lh-copy);
        font-family: $serif;
        color: $grey-3;

        @include sm {
            font-size: calculate-rem(22px);
        }
    }
}

.post__img {
    object-fit: cover;
    width: 100%;
    height: calc(160px + 40vw);
}
