$cursor-size: 60px;

.cursor {
    visibility: hidden;
    position: fixed;
    z-index: 999999;
    backface-visibility: hidden;
    pointer-events: none;

    width: $cursor-size;
    height: $cursor-size;
    top: -$cursor-size / 2;
    left: -$cursor-size / 2;
    border: 1px solid rgba($light, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 60px rgba($brand, 0.15);
}