html,
body {
    background-color: $light;
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: $lh-copy;
}


a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    transition: $fade-link;
}

a {
    color: inherit;
}


button,
button:hover,
button:active,
button:focus,
button:visited,
input[type='button'],
input[type='submit'] {
	outline: none;
    transition: $fade-link;
    font-family: $sans-serif;
}

input,
input:hover,
input:active,
input:focus,
input:visited {
    outline: none;
    transition: $fade-all;
    font-family: $sans-serif;
    border-radius: 0;
}