.container {
    padding: 0 $gutter;
    @include md {
        padding: 0 $double-gutter;
    }
}

.container--m {
    max-width: 1400px;
    margin: 0 auto;
}

.container--s {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    padding: 100px 0;
    color: $brand;

    @include sm {
        padding: 128px 0;
    }
}

.center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-bg {
    @include full(absolute);
    @include bg(cover);
}