.rich-text {

    h2 {
        margin: space(8) 0 space(2);
        @include font(32px, 600, $lh-copy);

        @include respond-min($m) {
            margin: space(12) 0 space(2);
            font-size: toRem(48px);
        }
    }

    h3 {
        margin: space(8) 0 space(2);
        @include font(20px, 600, $lh-copy);
    }

    h4 {
        margin: space(8) 0 space(2);
        @include font(18px, 700, $lh-copy);
    }

    p,
    ul,
    ol {
        margin-bottom: $gutter;

        @include respond-min($m) {
            margin-bottom: space(6);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        @include font(16px, 500, $lh-copy);

        @include respond-min($m) {
            font-size: toRem(18px);
        }
    }

    ul {
        padding-left: 18px;
        list-style-type: disc;
    }

    ol {
        padding-left: 28px;

        @include respond-min($m) {
            padding-left: 32px;
        }
    }

    li {
        margin-bottom: 8px;

        @include respond-min($m) {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        @include font(20px, normal, $lh-copy);
        font-family: $serif;
        color: $grey-3;

        @include respond-min($m) {
            font-size: toRem(22px);
        }
    }

    img {
        margin-left: -$gutter;

        @include respond-min($m) {
            margin-left: -space(12);
        }

        @include respond-min($l) {
            margin-left: -128px;
        }
    }

    small {
        display: block;
        max-width: 420px;
        @include font(16px, normal, $lh-copy);
    }
}