/*-------------------
        Fonts
--------------------*/

@charset "UTF-8";

// google font import
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i');

// custom font
@font-face {
	font-family: 'Ziris';
	src: url('/assets/fonts/500.woff2') format('woff2'),
         url('/assets/fonts/500.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ziris';
	src: url('/assets/fonts/500i.woff2') format('woff2'),
         url('/assets/fonts/500i.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ziris';
	src: url('/assets/fonts/600.woff2') format('woff2'),
         url('/assets/fonts/600.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Ziris';
	src: url('/assets/fonts/700.woff2') format('woff2'),
         url('/assets/fonts/700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ziris';
	src: url('/assets/fonts/900.woff2') format('woff2'),
         url('/assets/fonts/900.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Ziris';
	src: url('/assets/fonts/900i.woff2') format('woff2'),
         url('/assets/fonts/900i.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}
