/*-------------------
      Animation
--------------------*/

$ease:						cubic-bezier(0.700, 0.270, 0.270, 1);
$ease-expo:			        cubic-bezier(1.000, 0.000, 0.000, 1);
$fade-all: 					all 300ms $ease;
$fade-link:                 all 200ms $ease;



/*-------------------
    Media queries
--------------------*/

$xs: 480px;
$sm: 640px;
$md: 912px;
$lg: 1200px;
$xl: 1440px;



/*-------------------
	   Spacers
--------------------*/

$grid-gutter-width: 24px;

$triple-gutter:				$grid-gutter-width * 3;
$double-gutter:				$grid-gutter-width * 2;
$one-half-gutter:			$grid-gutter-width * 1.5;

$gutter:					$grid-gutter-width;
$half-gutter:				$grid-gutter-width / 2;
$quarter-gutter:			$grid-gutter-width / 4;



/*-------------------
        Fonts
--------------------*/

$sans-serif: 'Ziris', helvetica, arial, sans-serif;
$serif: 'Crimson Text', georgia, times, serif;

$lh-copy: 1.5;
$lh-title: 1.25;
$lh-solid: 1;



/*-------------------
        Colors
--------------------*/

$black: #000;
$white: #fff;

$brand: #780080;
$brand-dark: mix($black, $brand, 15%);

$cta: #009FEA;
$cta-dark: mix($black, $cta, 15%);

$light: $white;
$dark: mix($black, $brand, 80%);

$grey-1: mix($white, $dark, 20%);
$grey-2: mix($white, $dark, 30%);
$grey-3: mix($white, $dark, 40%);
$grey-4: mix($white, $dark, 50%);
$grey-5: mix($white, $dark, 60%);
$grey-6: mix($white, $dark, 70%);
$grey-7: mix($white, $dark, 80%);
$grey-8: mix($white, $dark, 90%);
$grey-9: mix($white, $dark, 94%);



/*-------------------
        Shadows
--------------------*/

$box-shadow-soft:			0 4px 32px rgba($black, 0.1);
$box-shadow-medium:			0 4px 32px rgba($black, 0.16);
$box-shadow-hard:			0 4px 32px rgba($black, 0.24);

$text-shadow-1:				1px 1px 0 rgba($black, 0.5);
$text-shadow-2:				0 0 50px rgba($black, 0.15), 1px 1px 0 rgba($black, 0.3);
$text-shadow-3: 			1px 1px 0 rgba($black, 0.35), 0 0 30px rgba($black, 0.25);



/*-------------------
        Misc
--------------------*/

$header-height: 60px;
$header-height-sm: 80px;