.campaign {
    color: $brand;
    max-width: 768px;
}

.campaign__title {
    margin-bottom: $gutter;
    @include font(36px, 900, $lh-title);
    @include sm {
        font-size: calculate-rem(60px);
    }
}

.campaign__description {
    max-width: 440px;
    font-family: $serif;
    @include font(32px, 400, $lh-title);
}