.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hero__bg {
    @include full(absolute);
    @include bg(cover);
}

.hero__txt {
    position: relative;
    max-width: 768px;
    @include font(60px, 900, $lh-title);
    color: $brand;
}