/*-------------------
     Transitions
--------------------*/

/*
	Base:
	tr = transition
	
	Modifiers:
	f = fade
	s = scale
	i = in
	o = out
	stag = staggered
*/


// durations
// ------------------------------

// none
.tr-0 {
    transition: none;
}

// 50ms - 1600ms
@for $i from 1 through 32 {
    $x: $i * 50;
    $d: $x * 1ms;

    .tr-#{$x} {
        transition-property: all;
        transition-duration: #{$d};
        transition-timing-function: $ease-out;
    }

    .tr-del-#{$x} {
		transition-delay: #{$d};
	}
}


// singles
// ------------------------------
.tr-fi {
    opacity: 0;

    &.is-active {
        opacity: 1;
    }
}

.tr-fi-up {
    opacity: 0;
    transform: translateY(50px) rotate(1deg);

    &.is-active {
        opacity: 1;
        transform: none;
    }
}

.tr-fi-right {
    opacity: 0;
    transform: translateX(50px) rotate(1deg);

    &.is-active {
        opacity: 1;
        transform: none;
    }
}

.tr-fi-left {
    opacity: 0;
    transform: translateX(-50px) rotate(1deg);

    &.is-active {
        opacity: 1;
        transform: none;
    }
}

.tr-si {
    opacity: 0;
    transform: scale(0.97);

    @include respond-min($l) {
        transition-delay: 200ms;
    }

    &.is-active {
        opacity: 1;
        transform: none;
    }
}

.tr-si-right {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 0 0;

    &.is-active {
        opacity: 1;
        transform: none;
    }
}


// staggered
// ------------------------------
.tr-stag {
    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            opacity: 0;
            transform-origin: 0 0;
            transform: translateY(20px + $i * 8) rotate(1deg);
            transition-duration: (900ms + ($i * 150));

            &.is-active {
                opacity: 1;
                transform: none;
            }
        }
    }
}

.tr-stag--right {
    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            transform: translateX(20px + $i * 8) rotate(1deg);
        }
    }
}