<!DOCTYPE html>
<html lang="nl-NL">

<head>

    <!-- META DATA -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.js"></script>

    <!-- TITLE -->
    <title>{{ page.title }}</title>

</head>

<body>

    <div class="app">
        {% include header.html %}
        {{ content }}
    </div>

    <!-- JAVASCRIPT -->
    <script src="/assets/js/plugins.bundle.min.js"></script>
    <script src="/assets/js/ziris.generic.js"></script>

</body>

</html>