<!DOCTYPE html>
<html lang="nl-NL">

<head>

    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- META DATA -->
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SOCIAL MEDIA -->
    <meta property="og:title" content="{{ page.title }}{% unless page.layout=='default' %} | ziris{% endunless %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ziris.nl{{ page.url | remove: '.html' }}" />
    <meta property="og:image" content="https://ziris.nl{{ page.img }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- TITLE -->
    <title>{{ page.title }}{% unless page.layout=='default' %} | ziris{% endunless %}</title>

</head>

<body class="{{ page.body }}">

    <!-- APP -->
    <main class="app">
        {% include header.html %}
        <div class="content">
            {{ content }}
        </div>
        {% unless page.no-footer %}{% include footer.html %}{% endunless %}
    </main>

    <!-- JAVASCRIPT -->
    {% if page.google-maps %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzOr-5E1X-ZVgYTGjgSANxyFWP0JPCRNI"></script>
    {% endif %}
    <script src="/assets/js/plugins.bundle.min.js"></script>
    <script src="/assets/js/generic.js"></script>
    <script src="/assets/js/form.js"></script>
    <script src="/assets/js/map.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>