---
layout: default
---

<div class="gallery a a-fi-right-200px a-del-500 a-dur-1500">
    <div class="gallery__scroll-container js-gallery">

        <div class="gallery__tile gallery__tile--start">
            <h1 class="fw-900 f32 f48-sm f72-md lh-solid mb-2 mb-4-sm">
                foto's van cursisten
            </h1>
            <p class="f-grey-4 f20-sm f28-md lh-title">
                geselecteerd<br>door Ziris
            </p>
        </div>

        {% for entry in page.items %}
        <div class="gallery__tile js-gallery-scroll">
            <figure class="gallery__img-container js-tr tr-stag tr-stag--right">
                <img class="gallery__img" data-src="{{ entry.img }}" alt="{{ entry.author }}" />
            </figure>
            <h3 class="gallery__author js-tr tr-stag tr-stag--right">
                {{ entry.author }}
            </h3>
            <h4 class="gallery__title js-tr tr-stag tr-stag--right">
                {{ entry.title | capitalize }}
            </h4>
            <h5 class="gallery__course js-tr tr-stag tr-stag--right">
                {{ entry.course }}
            </h5>
        </div>
        {% endfor %}

        <div class="gallery__tile gallery__tile--finish js-gallery-scroll">
            <h2 class="fw-900 f32 f48-sm f72-md lh-solid mb-2 mb-4-sm js-tr tr-stag tr-stag--right">
                einde
            </h2>
        </div>

    </div>
</div>

<!-- empty vertical scroll container -->
<div class="pos-a top-0px w-10 js-gallery-container"></div>