---
layout: default
---

<h1 class="pos-a v-hidden">{{ page.title }}</h1>

<div class="gallery js-gallery a a-fi-right-200px a-del-500 a-dur-1500">
    <div class="gallery__container">
        <div class="gallery__scroll-container">

            {% for entry in page.items %}
            <div class="gallery__tile">
                <img class="gallery__img" src="{{ entry.img }}" alt="{{ entry.author }}" />
                <h2 class="fw-900 f18">{{ entry.author }}</h2>
                <h3 class="f12 f-grey-4">{{ entry.course }}</h3>
            </div>
            {% endfor %}

        </div>
    </div>
</div>