---
layout: default
---

<section class="post a a-fi">
    <div class="container">
        <div class="post__container">
            <header class="post__header">
                <h1 class="post__title js-set-data" id="course-title">
                    {{ page.title }}
                </h1>
            </header>
            <div class="post__content">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="container js-scroll-magic" hook="0.9">
        <img class="post__img tr-stag js-tr" src="/assets/img/{{ page.img.url }}.jpg" alt="{{ page.img.caption }}" title="{{ page.img.caption }}" />
        <figcaption class="tr-stag js-tr">{{ page.img.caption }}</figcaption>
    </div>
</section>

{% include meta.html %}
{% include cta.html %}
{% include related.html %}