---
layout: default
---

<section class="post a a-fi">
    <div class="container">
        <div class="post__container">
            <header class="post__header">
                <h1 class="post__title js-set-data" id="course-title">
                    {{ page.title | downcase }}
                </h1>
            </header>
            <div class="post__content rich-text">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="container js-scroll">
        <figure class="post__img tr-stag js-tr">
            <img class="w-100" src="{{ page.img }}" alt="{{ page.caption }}" />
        </figure>
        <figcaption class="tr-stag js-tr">{{ page.caption }}</figcaption>
    </div>
</section>

{% include meta.html %}
{% include cta.html %}
{% include related.html %}