---
layout: default
---

<section class="post a a-fi">
    <div class="container">
        <div class="post__container">
            <header class="post__header">
                <h1 class="post__title js-set-data" id="course-title">
                    {{ page.title | downcase }}
                </h1>
            </header>
            <div class="post__content rich-text">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="container">
        <img class="post__img js-scroll-magic tr-stag js-tr" src="{{ page.img }}" alt="{{ page.caption }}" />
        <figcaption class="js-scroll-magic tr-stag js-tr" hook="0.95">{{ page.caption }}</figcaption>
    </div>
</section>

{% include meta.html %}
{% include cta.html %}
{% include related.html %}